{%extends 'all-news/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

  <!-- Looping through news   -->
  {% for news_item in news %}
  <hr>
    <div class="row">
       <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h2 class="text-center"> {{ news_item.title }} </h2>
        <h5 class="text-center"> {{ news_item.pub_date }} </h5>
      </div>
     
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image">
      </div>
       
    </div> <br>
  {% empty %}
  <div class="row">
    <h2 class="text-center">There No News Items</h2>
  </div>
  {% endfor %}
</div>

<div class="container-fluid">

  <form action="{%url 'newsToday'%}" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class='border-bottom mb-4 text-center fw-bold'>Login</legend>
        {{ form.as_p }}
    </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Subscribe</button>
            </div>         
</form>
</div>
{% comment %} <div class="container-fluid">

  <form  action="{%url 'newsToday'%}" method="post">
    {%csrf_token%}

    {% bootstrap_form letterForm layout='form-inline' %}
    <input type="submit" value="Subscribe">
  </form>

</div> {% endcomment %}
{% endblock %}
